body {
  background: linear-gradient(#0e323b, #1075e9); }

.header {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#0e323b, #1075e9);
  align-content: space-between; }
  .header__logo {
    border-radius: 10%; }
  .header__links {
    text-align: center;
    align-content: space-between; }
  .header__link {
    color: #e7e4e0;
    text-decoration: none;
    align-content: space-between;
    margin: 2px; }

* {
  padding: 0;
  margin: 0; }

.footer {
  background: linear-gradient(#0e323b, #1075e9);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  border: black solid; }
  .footer__texto {
    color: #1b5d9b; }

.titulazo {
  font-size: 40px; }

img {
  display: flex;
  max-width: 99%; }

.main {
  display: flex;
  flex-direction: column;
  background-color: linear-gradient(#0e323b, #1075e9);
  color: #d2e9e9;
  margin: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .main__title {
    color: #adf5ff;
    transform: hover scale(1.5); }
  .main__content {
    display: flex; }

.header__links a:hover {
  background-image: linear-gradient(#16a6df, #161549);
  color: #d2e9e9; }

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: linear-gradient(#0e323b, #1075e9);
  color: #d2e9e9;
  margin: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .main__title {
    color: #adf5ff; }

/*animacion*/
input {
  width: 200px;
  height: 50px;
  transition: all 2s; }

input:focus {
  width: 200px;
  font-size: 24px; }

main {
  display: flex;
  flex-direction: row;
  justify-self: center; }

section {
  display: flex;
  color: #e9eef1;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  text-align: justify; }
  section__title {
    justify-content: center;
    text-align: center;
    color: #adf5ff; }

h3 {
  display: flex;
  justify-content: center; }

div {
  background: linear-gradient(#0e323b, #1075e9); }

.main {
  background-color: linear-gradient(#0e323b, #1075e9);
  color: #d2e9e9;
  margin: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .main__title {
    color: #adf5ff; }

img {
  display: flex;
  max-width: 99%; }

table {
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #e9eef1;
  list-style: none; }

.list {
  list-style: none;
  text-decoration: none; }

.titulazo {
  color: #e9eef1; }
  .titulazo__subtitulazo {
    color: #e9eef1; }
  .titulazo__content {
    color: #e9eef1; }
